$color: purple;

div {
    font-size: 28px;

    ul {
        
        color: color;
    }

    ol {
        font-size: medium;
    }
    
    p {
        color: blue;
    }
    
}

/*https://www.freecodecamp.org/news/the-beginners-guide-to-sass/*/
